# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-workspace': [
    {
      'label': 'Sync Server (Upload)',
      'command' : 'showdeo-simple-preview:sync-server-upload'
    }
  ],
  'atom-text-editor': [
    {
      'label': 'Toggle Showdeo Simple Preview'
      'command': 'showdeo-simple-preview:toggle'
    }
  ],
  'atom-workspace atom-text-editor[data-grammar*="gfm"]': [
    {
      'label': 'Markdown Sync Preview',
      'command': 'showdeo-simple-preview:sync-preview'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Showdeo Simple Preview'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'showdeo-simple-preview:toggle'
        }
      ]
    ]
  }
]
